@media (min-width: 800px) {
  html {
    --fs-h0: 6rem;
    --fs-h1: 4.5rem;
    --fs-h2: 3.25rem;
    --fs-h3: 2rem;
    --fs-h4: 1.5rem;
    --fs-body: 1.25rem;
  }
}

@media (min-width: 1200px) {
  html {
    --fs-h0: 6.25rem;
    --fs-h1: 5.2rem;
    --fs-h2: 3.65rem;
    --fs-h3: 2.25rem;
    --fs-h4: 1.8rem;
    --fs-body: 1.4rem;
  }
}

@media (min-width: 1500px) {
  html {
    --fs-h0: 7.5rem;
    --fs-h1: 5.5rem;
    --fs-h2: 3.8rem;
    --fs-h3: 2.5rem;
    --fs-h4: 2.15rem;
    --fs-body: 1.5rem;
  }
}

@media (min-width: 1750px) {
  html {
    --fs-h0: 8.75rem;
    --fs-h1: 5.75rem;
    --fs-h2: 4rem;
    --fs-h3: 2.75rem;
    --fs-h4: 2.3rem;
    --fs-body: 1.5rem;
  }
}

@media (min-width: 2000px) {
  html {
    --fs-h0: 10rem;
    --fs-h1: 6.1rem;
    --fs-h2: 4.1rem;
    --fs-h3: 3rem;
    --fs-h4: 2.5rem;
    --fs-body: 1.5rem;
  }
}
